<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Flask Redirect Example</title>
</head>
<body>
    <h1>ExtractAlpha Signal Logs</h1>
    <p>Click the signal to view recent log</p>
    <ul>
        <li><a href="/tm1us">TM1-US</a></li>
        <li><a href="/tm1am">TM1-AM</a></li>
        <li><a href="/tm1eu">TM1-EU</a></li>
        <li><a href="/tm1ap">TM1-AP</a></li>
        <li><a href="/drsus">DRS-US</a></li>
        <li><a href="/drsam">DRS-AM</a></li>
        <li><a href="/drseu">DRS-EU</a></li>
        <li><a href="/drsap">DRS-AP</a></li>
        <li><a href="/cam1">CAM1-US</a></li>
        <li><a href="/tbam">TrueBeats-Americas</a></li>
        <li><a href="/tbeu">TrueBeats-EMEA</a></li>
        <li><a href="/tbap">TrueBeats-APAC</a></li>
        <li><a href="/transusfetch">Transcripts-US-Fetch</a></li>
        <li><a href="/transusgensig">Transcripts-US-Generate Signal</a></li>
        <li><a href="/transuspub">Transcripts-US-Publish</a></li>
    </ul>
</body>
</html>
